@font-face {
   font-family: "B Titr";
   src: url("fonts/B Titr Bold.woff") format("woff"), url("fonts/B Titr Bold.eot") format("embedded-opentype"), url("fonts/B Titr Bold.ttf") format("truetype"), url("fonts/B Titr Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}