/* src/index.css */

@font-face {
  font-family: 'IRANSansX';
  src: url('./assets/fonts/IRANSansX-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansX';
  src: url('./assets/fonts/IRANSansX-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansX';
  src: url('./assets/fonts/IRANSansX-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansX';
  src: url('./assets/fonts/IRANSansX-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansX';
  src: url('./assets/fonts/IRANSansX-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansX';
  src: url('./assets/fonts/IRANSansX-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansX';
  src: url('./assets/fonts/IRANSansX-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-face: 'IRANSansX';
  src: url('./assets/fonts/IRANSansX-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansX';
  src: url('./assets/fonts/IRANSansX-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/* اعمال فونت روی کل بدنه سایت */
body {
  margin: 0;
  font-family: 'IRANSansX', Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl; /* چون پروژه فارسی است */
}